html {
  overflow-x: hidden !important;
}

// Common style adjustments for light and dark themes -->

.light,
.dark {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-white-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 78px;
    border: 2px solid var(--light-grey);
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
    .sermify-logo,
    .user-profile {
      flex: 1;
      text-align: center;
    }
    .user-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-color);
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        .user-avatar {
          img {
            cursor: pointer;
            outline: 2px solid var(--primary-color);
          }
        }
      }
      .name-point-info {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 70%;
        .user-fullname {
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          line-height: 1.3;
        }
        .user-point {
          color: var(--tertiary-color);
          span {
            margin-right: 20px;
          }
        }
      }
      img {
        width: 46px;
        border-radius: 100%;
        margin-left: 12px;
        padding: 2px;
        box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.05) !important;
      }
      .user-avatar {
        position: relative;
      }
      .dropdown-content {
        position: absolute;
        top: 70px;
        right: 0;
        width: 170px;
        background-color: var(--bg-white-color);
        border: 2px solid var(--primary-color);
        border-radius: 16px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        z-index: 99;
        ul {
          border-radius: 16px;
          padding: 20px;
          a {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--tertiary-color);
            text-align: left;
            width: fit-content;
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 0 !important;
            }
            &[data-selected='true'] {
              font-weight: bold;
              color: var(--primary-color);
            }
            span {
              font-weight: bold !important;
              cursor: pointer;
            }
          }
          .theme-switcher {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: unset !important;
            padding: 5px;
            background-color: var(--primary-color);
            border-radius: 100%;
            cursor: pointer;
            svg {
              color: white;
            }
          }
        }
      }
    }
    .navbar-toggle {
      display: none;
    }
    .mobile-menu-items {
      display: none;
    }
  }
  .menu-open {
    border-radius: 0;
    border-color: var(--bg-white-color);
  }
  .sermify-logo-img {
    width: clamp(7.5rem, 10vw, 10rem);
  }
  .main-links {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      li {
        color: var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          margin-left: 8px;
          transition: font-weight 0.2s ease-in-out forwards;
          &::before {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }
        &:hover {
          svg {
            font-weight: bold !important;
            color: var(--primary-color);
          }
          span {
            font-weight: bold !important;
            color: var(--primary-color);
          }
        }
      }
    }
  }

  // Adjustments for mobile and tablet views -->

  @media screen and (max-width: 1024px) {
    nav {
      transition: none;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
      box-shadow: unset;
      .mobile-menu-items {
        width: calc(100.2vw + 0.2px) !important;
        height: calc(100vh);
        display: flex;
        justify-content: space-around;
        flex: 1;
        position: absolute;
        width: auto;
        color: black;
        top: 71px;
        background-color: var(--primary-color);
        z-index: 1000;
        left: -1px;
        ul {
          flex: 1;
          justify-content: flex-start;
          margin-top: 20px;
          margin-left: 10%;
          height: max-content;
          li {
            display: flex;
            align-items: center;
            color: var(--white);
            margin-bottom: 24px;
            border-radius: 8px;
            transition: color 0.2s ease;
            svg {
              width: 20px;
              height: 20px;
            }
            span {
              margin-left: 12px;
            }
            .theme-switcher {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              border-radius: 8px;
              cursor: pointer;
              svg {
                border: 1px solid white;
                border-radius: 100%;
                padding: 6.67px;
                width: 32px;
                height: 32px;
              }
              &:hover {
                background-color: var(--primary-color-hover);
              }
            }
            &:hover:not(:last-child):not(:first-child) {
              background-color: var(--primary-color-hover);
            }
            &:focus-visible {
              border: none !important;
              outline: none !important;
            }
            .mobile-user-profile {
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--primary-color);
              margin-right: 20px;
              .mobile-user-fullname {
                margin-left: 10px;
                font-weight: bold;
                color: var(--white);
                transition: color 0.2s ease;
              }
              img {
                width: 38px;
                border-radius: 100%;
              }
              .mobile-user-avatar {
                position: relative;
                img {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
          li:not(:last-child) {
            padding: 10px;
            cursor: pointer;
          }
        }
      }
      .sermify-logo {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        margin-left: 10%;
      }
    }
    .menu-open {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      transition: none;
    }
    .main-links,
    .user-profile {
      display: none !important;
    }
    .navbar-toggle {
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      margin-right: 10%;
      svg {
        cursor: pointer;
      }
    }
    .navbar-mobile-links {
      display: flex !important;
      flex-direction: row;
    }
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--animation-speed) all;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
    transform: translateX(-100%);
    transition: var(--animation-speed) transform;
  }
  .menu ul li {
    border-bottom: 1px solid #ddd;
  }
  .menu ul li a {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 20px;
    color: #333;
  }
  .menu ul li a:hover {
    background-color: lime;
  }
}
#root {
  transition: background-color 0.25s;
}
#root.dark {
  background-color: var(--secondary-color);
  transition: background-color 0.25s;
  color: white;
}

// Dark theme specific style adjustments -->

.dark {
  nav {
    background-color: var(--bg-dark-color);
    border-color: var(--bg-dark-color);
    .dropdown-content {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
      background-color: var(--bg-dark-color) !important;
    }
    .mobile-menu-items {
      ul {
        li {
          .mobile-user-fullname {
            color: var(--secondary-color) !important;
          }
          color: var(--secondary-color);
          .theme-switcher {
            svg {
              border-color: black;
              background-color: unset;
            }
          }
        }
      }
    }
  }
}
