html {
  overflow-x: hidden !important;
}

// Common style adjustments for light and dark themes -->

.light,
.dark {
  navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-white-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 72px;
    border: 2px solid var(--light-grey);
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    .sermify-logo,
    .user-profile {
      flex: 1;
      text-align: center;
    }
    .user-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-color);
      margin-right: 20px;
      cursor: pointer;
      .theme-switcher{
        margin-right: 10px;
      }
      .user-fullname {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 70%;
      }
      img {
        width: 36px;
        border-radius: 100%;
        margin-left: 12px;
      }
    }
    .navbar-toggle {
      display: none;
    }
    .mobile-menu-items {
      display: none;
    }
  }
  .menu-open {
    border-radius: 0;
    border-color: var(--bg-white-color);
  }
  .sermify-logo-img {
    width: clamp(7.5rem, 10vw, 10rem);
  }
  .main-links {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      li {
        color: var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          margin-left: 8px;
          transition: font-weight 0.2s ease-in-out forwards;
          &::before {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }
      }
    }
  }

  // Adjustments for mobile and tablet views -->

  @media screen and (max-width: 1024px) {
    navbar {
      transition: none;
      .mobile-menu-items {
        width: calc(100.2vw + 0.2px) !important;
        height: calc(100vh);
        display: flex;
        justify-content: space-around;
        flex: 1;
        position: absolute;
        width: auto;
        color: black;
        top: 71px;
        background-color: var(--primary-color);
        z-index: 1000;
        left: -1px;
        ul {
          flex: 1;
          justify-content: flex-start;
          margin-top: 20px;
          margin-left: 10%;
          height: max-content;
          li {
            display: flex;
            align-items: center;
            color: var(--text-white);
            margin-bottom: 48px;
            svg {
              width: 20px;
              height: 20px;
            }
            span {
              margin-left: 12px;
            }
            .theme-switcher{
              img{
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
      .sermify-logo {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        margin-left: 10%;
      }
    }

    .menu-open {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      transition: none;
    }
    .main-links,
    .user-profile {
      display: none !important;
    }
    .navbar-toggle {
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      margin-right: 10%;
    }
    .navbar-mobile-links {
      display: flex !important;
      flex-direction: row;
    }
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--animation-speed) all;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
    transform: translateX(-100%);
    transition: var(--animation-speed) transform;
  }
  .menu ul li {
    border-bottom: 1px solid #ddd;
  }
  .menu ul li a {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 20px;
    color: #333;
  }
  .menu ul li a:hover {
    background-color: lime;
  }
  .container {
    height: 100%;
    background: #eee;
    transition: var(--animation-speed) transform;
  }
  .container .header {
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 20px;
  }
  .container .actions {
    margin-left: auto;
  }
  .container .logo {
    color: #222;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }
}

// Dark theme specific style adjustments -->

.dark {
  navbar {
    background-color: black;
    border-color: var(--light-grey);
    .mobile-menu-items {
      ul {
        li {
          color: var(--secondary-color);
        }
      }
    }
  }
}
