html,
body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}
