.light,
.dark {
  .test-group-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    .test-group {
      background-color: var(--bg-white-color);
      border-radius: 20px;
      padding: 20px 24px 24px;
      border: 2px solid var(--light-grey);
      flex: 1 1 30%;
      max-width: 30%;
      box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
      &:hover {
        box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
      }
      h2 {
        text-align: center;
        color: var(--tertiary-color);
        font-size: 24px;
        margin-bottom: 20px;
      }
      .list-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 260px;
        overflow-y: auto;
        .list-group-item {
          text-align: center;
          background-color: var(--primary-color);
          border-radius: 4px;
          padding: 14px 20px;
          color: var(--white);
          cursor: pointer;
          &:hover {
            background-color: var(--primary-color-hover);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .light,
  .dark {
    .test-group-container {
      .test-group {
        flex: 1 1 100%;
        min-width: 45%;
        max-width: 65%;
      }
    }
  }
}

.dark {
  .test-group-container {
    .test-group {
      background-color: var(--bg-dark-color);
      border-color: var(--dark-grey);
    }
  }
}
