@import 'reset';
@import 'variables';

@mixin login-background {
  background: {
    image: url('src/assets/images/login-image.png');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.password-container {
  overflow-y: hidden;
  display: flex;
  height: 100vh;
  color: var(--secondary-color);
  .password-left {
    width: 66.66666667%;
    background-color: var(--primary-color);
    position: relative;
    .password-left-image {
      position: absolute;
      opacity: 0.25;
      width: 100%;
      height: 100vh;
      @include login-background;
    }
    .sermify-logo {
      width: 35%;
      max-width: 286px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .password-right {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 5%;
    width: 33.33333333%;
    height: 100vh !important;
    max-height: 100%;
    .password {
      display: flex;
      flex-direction: column;
      h4 {
        font-size: clamp(1.5rem, 3.5vw, 2.25rem);
        font-weight: 700;
        margin: 10px 0 30px 0;
      }
      .sermify-logo-mobile {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .password-left {
    display: none;
  }
  .password-right {
    width: 100% !important;
    .sermify-logo-mobile {
      display: block !important;
      width: 120px;
    }
    .password {
      .password-right-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 28px;
          margin: unset;
        }
        img {
          padding-top: 10px;
        }
        margin: 10px 0 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .password-right {
    .password {
      .password-right-head {
        h4 {
          display: none;
        }
      }
    }
  }
}
