:root {
  // Colors
  --primary-color: #e84545;
  --primary-color-hover: #b93333;
  --secondary-color: #202020;
  --secondary-color-hover: #000000;
  --tertiary-color: #808080;
  --tertiary-color-hover: #505050;
  // --fifth-color: #;
  // --fifth-color-hover: #;

  // Text Colors

  --text-color-light: #2c3e50;
  --text-color-light-hover: #2c3e50;
  --text-color-dark: #2c3e50;
  --text-color-dark-hover: #2c3e50;

  // Status Colors

  --success-color: #2ecc71;
  --success-color-hover: #2ecc71;
  --error-color: #e74c3c;
  --error-color-hover: #e74c3c;
  --warning-color: #f39c12;
  --warning-color-hover: #f39c12;
  --info-color: #3498db;
  --info-color-hover: #3498db;

  --fs-14: clamp(0.775rem, 1.6vw, 0.875rem);
  --fs-16: clamp(0.9rem, 1.6vw, 1rem);
  --fs-46: clamp(2.5rem, 5vw, 2.875rem);
}
